body {
  margin: 0;
  padding: 0;
  font-family: 'bobs_burgersregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: 'bobs_burgersregular';
    src: url('./Fonts/bobs_burgers-webfont.woff2') format('woff2'),
         url('./Fonts/bobs_burgers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
